.noImage {
  aspect-ratio: 2 / 3;
  object-fit: cover;
  background-color: #303030;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.noImage span {
  display: block;
  width: 100%;
  word-break: break-all;
  white-space: normal;
  text-align: center;
  font-size: clamp(12px, 4vw, 24px);
  line-height: 1.2;
}
