.detailPageContainer {
  height: 100%;
  background-color: black;
}
h1 {
  margin: 0;
}
.loadingPage,
.preparingPage {
  color: white;
}

.preparingPage {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.detailContainer {
  position: relative;
  height: 100%;
}

.movieBackgroundImage {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.detailWrapper {
  position: absolute;
  top: 50%;
  width: 100%;
  min-height: 50%; /* 최소 50% 영역을 차지 */
  height: auto; /* 내용에 따라 확장 */
  display: flex;
  justify-content: center;
  align-items: flex-start; /* 상단 고정 */
  background-color: black;
}

/* ::before를 사용한 그라데이션 오버레이 */
.detailWrapper::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 70%,
    black 100%
  );
}
.detailContent {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 70%;
  min-height: auto;
  height: auto;
  color: white;
}
.detailHeader {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
}

.movieInformation,
.moviePosterImage {
  position: relative;
  z-index: 1;
}

.moviePosterContainer {
  width: clamp(135px, 20vw, 230px);
  min-width: 120px;
  margin-top: -10%;
}
.movieInformation {
  flex-grow: 5;
  margin-right: 3%;
}

.movieDetail {
  margin-left: 2%;
}

.genresList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.genresList li {
  padding: 5px;
  border-radius: 10px;
  font-size: 14px;
  color: white;
  border: 1.3px solid white;
}
.genresList li::before {
  content: "#";
  margin-right: 5px;
}

.toggleButton {
  margin-left: 6px;
  border: 0;
  background-color: transparent;
  color: rgb(98, 165, 228);
}
.toggleButton:hover {
  cursor: pointer;
}
