/* clear button 활성화 확인용 */
.searchContainer {
  max-width: 600px; /* 최대 너비 설정 */
  width: 100%; /* 너비 설정 */
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
}

.searchInput {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  outline: none;
  border-width: 0;
}

.clearButton {
  background-color: orange;
  border: 1px solid #ccc;
  padding: 8px;
  cursor: pointer;
}

.gridContainer {
  display: grid;
  /* 각 열은 최소 200px, 남는 공간은 균등 분배(최대 1fr) */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2px; /* 아이템 간 간격 */
}
