body {
  margin: 0;
  padding: 0;
  /* background-color: black; */
}

/* clear button 활성화 확인용 */
.searchContainer {
  max-width: 600px; /* 최대 너비 설정 */
  width: 100%; /* 너비 설정 */
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
}

.searchInput {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  outline: none;
  border-width: 0;
}

.clearButton {
  background-color: orange;
  border: 1px solid #ccc;
  padding: 8px;
  cursor: pointer;
}

.movieHover {
  transition: transform 0.3s ease;
}

.movieHover:hover {
  transform: scale(1.05);
}

.gridContainer {
  display: grid;
  /* 각 열의 너비가 최소 200px, 최대 auto*/
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  justify-content: center; /* 전체를 중앙 정렬 */
  gap: 10px; /* 아이템 간 간격 */
}
