.homePagecontainer {
  background-color: black;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.gridContainer {
  display: grid;
  /* 각 열은 최소 200px, 남는 공간은 균등 분배(최대 1fr) */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2px; /* 아이템 간 간격 */
}

.genreListContainre {
  margin: 35px 0;
}
.genreListHeader {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 16px;
  padding: 0 20px;
}
.genreListTitle {
  color: white;
  margin: 0;
}

.pageDots {
  /* 수평 중앙에 배치 */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* 장르메뉴 & 검색창 */
.filterContainer {
  display: flex;
  width: 100%;
  gap: 10px;
}

/* 검색창 */
.searchContainer {
  position: relative;
  margin: 0 3px 5px 3px;
  display: flex;
  align-items: center;
}

.iconSearch {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}
.searchInput {
  padding: 8px;
  font-size: 16px;
  outline: none;
  border-width: 0;
  color: white;
  background-color: transparent;
  padding-left: 30px; /* 왼쪽에 검색 아이콘 공간 확보 */
  padding-right: 40px; /* X 버튼 공간 확보 */
}

.clearButton {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
