.movieLink {
  text-decoration: none;
}

.movieContainer {
  position: relative;
  transition: transform 0.3s ease;
}

.hoverable:hover {
  /* 포스터와 오버레이 함께 확장*/
  transform: scale(1.1);
  z-index: 1; /* 다음 포스터에 가려지지 않게함*/
}

.movieImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 2 / 3;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* 마우스 오버시 오버레이 표시 */
.movieContainer:hover .overlay {
  opacity: 1;
}

.overlayContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(5px, 2vw, 50px);
  color: #fff;
  text-align: center;
  padding: 10px;
}

.overlayTitle {
  display: block;
  width: 100%;
  word-break: break-all;
  white-space: normal;
  text-align: center;
  font-size: clamp(12px, 2vw, 18px);
  margin: 0;
}

.overlayGenreList {
  list-style: none;
  padding: 0;
  margin: 5px 0 0;
  font-size: clamp(10px, 2vw, 16px);
}
